@model InteriorDesign.Models.ViewModels.DesignBoardViewModel

    <div>
        <h4>DesignBoard</h4>
        @Html.HiddenFor(m => m.Id)
        <hr />
        <div>
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div>
            @Html.DisplayFor(model => model.Name)
        </div>
        <div>
            @foreach (var designReference in Model.DesignReferences)
            {
                 <div>
                     <a href="@designReference.ImageUrl">@designReference.ImageUrl</a>
                 </div>
            }
        </div>
        <br />
        <input name="Id" value="@Model.Id" type="hidden" />
        <input class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Reference",  new {  id = Model.Id })'" value="Add reference" />
    </div>