@model InteriorDesign.Models.ViewModels.ProjectViewModel;

    <div class="d-flex col-md-6 justify-content-center">
        <h4>Project</h4>
        <hr />
        <form form class="d-flex">
            <div class="row">
                @Html.DisplayNameFor(model => model.Name)
            </div>
            <div class="row">
                @Html.DisplayFor(model => model.Name)
            </div>
            <div class="row text-light">
                @Html.DisplayFor(model => model.Status)
            </div>
        </form>
        <br />
        @foreach (var projectReview in Model.ProjectReviews)
        {

        }
        @if (this.User.IsInRole("Administrator"))
        {
            <div class="form-group text-center">
                <button class="btn btn-lg btn-primary btn-color-white" onclick="location.href='@Url.Action("Details", "Project",  new {  id = Model.Id })'">Details</button>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-lg btn-primary btn-color-white" onclick="location.href='@Url.Action("Edit", "Project", new {  id = Model.Id })'">Edit</button>
            </div>
            <div>
                <button class="btn btn-lg btn-primary btn-color-white" onclick="location.href='@Url.Action("CreateProjectFile", "ProjectFile", new {  id = Model.Id })'">Add Project File</button>
            </div>
        }
        else if (this.User.IsInRole("Designer"))
        {
            <div class="form-group text-center">
                <button class="btn btn-lg btn-primary btn-color-white" onclick="location.href='@Url.Action("Details", "Project",  new {  id = Model.Id })'">Details</button>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-lg btn-primary btn-color-white" onclick="location.href='@Url.Action("CreateProjectFile", "ProjectFile", new {  id = Model.Id })'">Add Project File</button>
            </div>
        }
        else
        {
            <div class="form-group text-center">
                <button class="btn btn-lg btn-primary btn-color-white" onclick="location.href='@Url.Action("Details", "Project",  new {  id = Model.Id })'">Details</button>
            </div>
        }
        <hr />
    </div>
<div>

</div>