@model InteriorDesign.Data.Models.Project;

    <div class="d-flex justify-content-center">
        <h4>Project</h4>
        <hr />
        <div class="class=" col-md-6">
            <form form class="d-flex">
                <div class="row">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
                <div class="row">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </form>
        </div>
        <hr />
        @foreach (var projectReview in Model.ProjectReviews)
        {

        }
    </div>
    <div>
        @if (this.User.IsInRole("Administrator"))
        {
            <div class="form-group text-center">
                <button class="active" asp-action="Edit" asp-route-id="@Model.Id">Edit</button>
            </div>
            <div class="form-group text-center">
                <button class="active" asp-action="Delete" asp-route-id="@Model.Id">Delete</button>
            </div>
        }
        else if (this.User.IsInRole("Designer"))
        {
            <div class="form-group text-center">
                <button class="active" asp-action="Edit" asp-route-id="@Model.Id">Add Project File</button>
            </div>
        }
        else
        {
            <div class="form-group text-center">
                <button class="active" asp-action="Edit" asp-route-id="@Model.Id">Details</button>
            </div>
        }
    </div>
